<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.cart.CartDAO">
   
   <select id="cartSelect" resultType="kr.happyjob.study.model.cart.CartVO">
      	SELECT a.cartId, a.detailId, a.loginid, a.amount, b.brand, b.detailName, b.price, b.discountPer, b.img
		FROM tb_cart a, tb_productdetail b
		WHERE a.detailId = b.detailId
		AND loginid = #{loginId}
   </select> 
   
   <!-- 신규등록(저장) :  -->
	<insert id = "cartInsert" parameterType="java.util.Map">
	    <selectKey resultType="string" keyProperty="cartId" order="BEFORE">
            SELECT max(CAST(cartId  as unsigned)) + 1 
   			FROM tb_cart
        </selectKey> 
		INSERT
		INTO		tb_cart
				(
					cartId, detailId, loginid, amount
				)
		VALUES
				(
						#{cartId}
					,	#{detailId}
					,	#{loginId}
					,	#{amount}
				)
	</insert>
	
	<select id="isDuplicate" resultType="int" parameterType="java.util.Map">
	    SELECT COUNT(*)
	    FROM tb_cart
	    WHERE loginid = #{loginId}
	    AND detailId = #{detailId}
	</select>
	
	<!-- 수정-->
	<update id = "cartUpdate" parameterType="java.util.Map">
		UPDATE tb_cart
		SET		amount = #{amount}
		WHERE	detailId = #{detailId}
		AND loginid = #{loginId}
	</update>
	
	<!-- 삭제-->
	<delete id="cartDelete" parameterType="java.util.Map">
		DELETE
		FROM 	tb_cart
		WHERE 	detailId IN 
		<foreach item="detailId" collection="detailIdArray" open="(" separator="," close=")">
        	#{detailId}
    	</foreach>
		AND loginid = #{loginId}
	</delete>
     
</mapper>