<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.order.OrderDAO">
   
  <select id="orderSelect" parameterType="java.util.Map" resultType="kr.happyjob.study.model.cart.CartVO">
      	SELECT a.cartId, a.detailId, a.loginid, a.amount, b.brand, b.detailName, b.price, b.discountPer, b.img
		FROM tb_cart a , tb_productdetail b
		WHERE 	a.detailId IN 
		<foreach item="detailId" collection="detailIdArray" open="(" separator="," close=")">
        	#{detailId}
    	</foreach>
		AND a.detailId = b.detailId;
   </select>
   
   <!-- 신규등록(저장) :  -->
	<insert id="orderInsert" parameterType="java.util.Map">
	    <selectKey resultType="string" keyProperty="orderId" order="BEFORE">
	        SELECT max(CAST(orderId AS unsigned)) + 1 
	        FROM tb_order
	    </selectKey> 
	    INSERT INTO tb_order
	    (orderId, detailId, loginid, amount, paymentDt, paymentMethod, creaditInfo, status, phone, address, addDetail, zip, location, totPayment)
	    VALUES
	    (#{orderId}, 
	     #{detailId},
	     #{loginId}, 
	     #{amount},
	     NOW(), 
	     #{paymentMethod}, 
	     #{creaditInfo},  
	     #{status}, 
	     #{phone}, 
	     #{address}, 
	     #{addDetail}, 
	     #{zip}, 
	     #{location}, 
	     #{totPayment}
	    )

	</insert>
	
	<insert id="orderpInsert" parameterType="java.util.Map">	    
	    INSERT INTO tb_order_product
	    (orderId, detailId, amount)
	    VALUES
	    (#{orderId}, #{detailId}, #{amount})
	</insert>

	
	<!-- 수정-->
	<update id = "orderUpdate" parameterType="java.util.Map">
		UPDATE tb_order
		SET		paymentMethod = #{paymentMethod},
				creaditInfo = #{creaditInfo},
				phone = #{phone},
				address = #{address},
				addDetail = #{addDetail},
				zip = #{zip},
				location = #{location}
		WHERE	orderId = #{orderId}
		AND loginid = #{loginId}
	</update> 
	
	<!-- 삭제-->
	<delete id="orderDelete" parameterType="java.util.Map">
		DELETE
		FROM 	tb_order
		WHERE 	orderId IN 
		<foreach item="orderId" collection="orderIdArray" open="(" separator="," close=")">
        	#{orderId}
    	</foreach>
		AND loginid = #{loginId}
	</delete> 
	
	<select id="orderList" resultType="kr.happyjob.study.model.order.OrderVO">
      SELECT a.orderId, a.detailID, a.loginid, a.totPayment, a.status, a.paymentDt, b.brand, b.detailName, b.img
	  FROM tb_order a, tb_productdetail b
	  WHERE a.loginid = #{loginId}
	  AND a.detailId = b.detailId
	  <if test ="(type != null) and (!type.equals(''))">
		and a.paymentDt BETWEEN #{startDate} AND #{endDate}
	  </if>
	  ORDER by a.paymentDt asc
   </select>
     
</mapper>